node-red/irrigacao.json
[
    {
        "id": "53bf69e3bb83a4dd",
        "type": "tab",
        "label": "Irrigação automática",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5bbc61c43b3db624",
        "type": "debug",
        "z": "53bf69e3bb83a4dd",
        "name": "debug processador",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 340,
        "wires": []
    },
    {
        "id": "c71dd9e80dc76a9a",
        "type": "aedes broker",
        "z": "53bf69e3bb83a4dd",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 1030,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c89d3922818661cd",
        "type": "mqtt in",
        "z": "53bf69e3bb83a4dd",
        "name": "topico sensor umidade consumidor",
        "topic": "topico/sensor-umidade",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f1c7a2b2b6704105",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 280,
        "wires": [
            [
                "2793dcd5cb864ed2",
                "5bbc61c43b3db624"
            ]
        ]
    },
    {
        "id": "2793dcd5cb864ed2",
        "type": "change",
        "z": "53bf69e3bb83a4dd",
        "name": "App Processador",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "desligar",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "ligar",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 280,
        "wires": [
            [
                "25c6b21f7ec6bfa6"
            ]
        ]
    },
    {
        "id": "3e64ed83f1cc6ad7",
        "type": "debug",
        "z": "53bf69e3bb83a4dd",
        "name": "debug bomba",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 560,
        "wires": []
    },
    {
        "id": "6c6339671a9fb357",
        "type": "arduino out",
        "z": "53bf69e3bb83a4dd",
        "name": "Pin 3 - bomba irrigacao",
        "pin": "3",
        "state": "PWM",
        "arduino": "563e4d91b5b0b1bc",
        "x": 830,
        "y": 500,
        "wires": []
    },
    {
        "id": "1ae6baf640a6ae05",
        "type": "change",
        "z": "53bf69e3bb83a4dd",
        "name": "Controlador Bomba",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "desligar",
                "fromt": "str",
                "to": "254",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "ligar",
                "fromt": "str",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 500,
        "wires": [
            [
                "6c6339671a9fb357",
                "a7364070193c3ff6"
            ]
        ]
    },
    {
        "id": "a13cac17457d7e81",
        "type": "mqtt in",
        "z": "53bf69e3bb83a4dd",
        "name": "topico bomba consumidor",
        "topic": "topico/bomba",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f1c7a2b2b6704105",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 500,
        "wires": [
            [
                "1ae6baf640a6ae05",
                "3e64ed83f1cc6ad7"
            ]
        ]
    },
    {
        "id": "25c6b21f7ec6bfa6",
        "type": "mqtt out",
        "z": "53bf69e3bb83a4dd",
        "name": "topico bomba produtor",
        "topic": "topico/bomba",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f1c7a2b2b6704105",
        "x": 960,
        "y": 280,
        "wires": []
    },
    {
        "id": "a7364070193c3ff6",
        "type": "debug",
        "z": "53bf69e3bb83a4dd",
        "name": "debug pin 3 - bomba",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 560,
        "wires": []
    },
    {
        "id": "ba39c22f21657f77",
        "type": "arduino in",
        "z": "53bf69e3bb83a4dd",
        "name": "Pin 2 - sensor umidade",
        "pin": "2",
        "state": "INPUT",
        "arduino": "563e4d91b5b0b1bc",
        "x": 220,
        "y": 100,
        "wires": [
            [
                "357ef4c3ab92f4d8",
                "4435e66db6cfc360"
            ]
        ]
    },
    {
        "id": "357ef4c3ab92f4d8",
        "type": "mqtt out",
        "z": "53bf69e3bb83a4dd",
        "name": "tópico sensor umidade produtor",
        "topic": "topico/sensor-umidade",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f1c7a2b2b6704105",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "4435e66db6cfc360",
        "type": "debug",
        "z": "53bf69e3bb83a4dd",
        "name": "debug sensor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 160,
        "wires": []
    },
    {
        "id": "f1c7a2b2b6704105",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "563e4d91b5b0b1bc",
        "type": "arduino-board",
        "device": "COM4"
    }
]
